@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
/* Merriweather */
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
/* Alegreya */
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');
/* Fira Sans */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,700,700i');
//  indice

// 1. variables y colores muvini 
// 2. TITULO UD + FOTO AUTOR
// 3. AUTOR FIXED - - - - - EN LATERAL DERECHO
// 4. ANTERIOR Y SIGUIENTE UD
// 5. BOX
// 6. tarjetas mapa de cada artista
// 7. lista de artistas

@media #{$small-and-down} {
    // styles for small screens and down
}
@media #{$medium-and-up} {
    // styles for medium screens and larger
}
@media #{$medium-and-down} {
    // styles for medium screens and down
}
@media #{$large-and-up} {
    // styles for large screens and up
}
@media #{$extra-large-and-up} {
    // styles for extra large screens and up
}

//  Variables

$primario-muvini: 		#00adaf;
$secundario-muvini: 	#fbe269;
$rosado-muvini: 		#f55272;
$violeta-muvini: 		#180a3a;


.bg-primario-muvini{
	background: $primario-muvini;
}
.text-primario-muvini {
	color: $primario-muvini;
}

.bg-secundario-muvini{
	background: $secundario-muvini;
}
.text-secundario-muvini {
	color: $secundario-muvini;
}

.bg-violeta-muvini{
	background: $violeta-muvini;
	&:hover,
	&:active,
	&:focus {
		background: #2b1268;
	}
}
.text-violeta-muvini {
	color: $violeta-muvini;
}


.bg-rosado-muvini{
	background: $rosado-muvini;
	&:hover,
	&:active,
	&:focus {
		background: $rosado-muvini;
	}

}
.text-rosado-muvini {
	color: $rosado-muvini;
}

// General

body {
	background: url(../img/bg_muvini.png) repeat top left #484848;
}


//  TITULO UD + FOTO AUTOR

.title {
	display: block;
	position: relative;
	box-sizing: border-box;
	position: relative;
	padding: 20px 50px;
	width: 90% !important;
	margin: 50px 20px 0 0 ;
	background: #212121;
	border-radius: 8px;
	z-index: 7;
	&:before {
		content: "";
		width: 100%;
		height: 10px;
		border-radius: 8px 8px 0 0 ;
		position: absolute;
		top: -10px;
		background: rgba(#212121, .6);
		left: 0;
		transform: scale(.97);
		-webkit-transform: scale(.97);
		-ms-transform: scale(.97);
		z-index: -10;
	}
	.icon-ud {
		min-width: 100px;
		min-height: 100px;
		width: 80%;
		position: relative;
		margin: auto;
		display: block;
		border-radius: 50%;
		@extend .z-depth-4;
		img {
			width: 100%;
		}
		.miniatura {
			width: 50%;
			position: absolute;
			right: -10%;
			bottom: -10%;
			border: 3px solid $primario-muvini ;

		}
	}
	.title-ud {
		width: 100%;
		height: auto;
		position: relative;
		h1 {
			color: $secundario-muvini;
			font-weight: 900;
			font-size: 25px ;
			text-transform: uppercase;
			letter-spacing: -1px;
			text-align: center;
		}
	}	
}

//  AUTOR FIXED - - - - - EN LATERAL DERECHO

.autor {
	position: fixed;
	top: 20%;
	left: 6%;
	max-width: 220px;
	text-align: center;
	box-sizing: content-box;
	z-index: 6;
	opacity: 0;
	-webkit-transition: 0.3s ease-in-out all;
	transition: 0.3s ease-in-out all;
	&.active {
		opacity: 1;
	}
	.bg {
		padding: 20px;
		background: #212121;
		border-radius: 8px;
	}

	img {
		width: 50%;
	}
	h5 {
		color: $primario-muvini;
		font-size: 18px;
		font-weight: 300;

	}
	h6 {
		color: #b4b4b4;
		padding:  10px 0;
		display: block;
		position: relative;
		margin-bottom: 30px;
		font-weight: 300;

		&:after {
			content: "";
			width: 60px;
			height: 1px;
			top: 0px;
			background: #b4b4b4;
			left: calc( 50% - 30px);
			position: absolute;
		}

	}
}

.autor:before {
	@extend .title:before;
}

.btn {
	border-radius: 20px;
}



// ANTERIOR Y SIGUIENTE UD

.guia {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #212121;
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	@extend .z-depth-5;
	z-index: 8;
	opacity: 0;
	-webkit-transition: 0.3s ease-in-out all;
	transition: 0.3s ease-in-out all;
	&.active {
		opacity: 1;
	}
	a {
		display: inline-block;
	}

}


//  BOX

.box {
	position: relative;
	padding: 50px 80px !important;
	width: 100%;
	margin: 50px 0;
	background: #fff;
	border-radius: 8px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	h2 {
		color: $rosado-muvini;
		font-weight: 700;
		font-size: 30px;
		padding:  20px 0 15px 0;
		margin-bottom: 30px;
		position: relative;
	}
	.gallery-img {
		display: block;
		width: 70%;
		min-width: 400px;
		border-radius: 8px;
		@extend .z-depth-2;
		margin: 50px auto;
	}

	ol {
		margin: 0;
		padding-left: 20px;
	}

	ol > li{
		padding: 0 15px;
		cursor: pointer;
		margin-top: 15px;
	}

	p, li, span {
		font-family: 'Merriweather', georgia, Sans-serif;
		font-weight: 300;
		font-size: 21px !important;
		color: $violeta-muvini !important;
		line-height: 35px;
	}

	a {
		color: $primario-muvini;
		text-decoration: underline;
	}

	strong {
		font-weight: 700;
	}

	blockquote {
		font-family: 'Merriweather', georgia, Sans-serif;
		font-style: italic;
		position: relative;
		color : $primario-muvini;
		background-color: #f2f2f2;
		font-weight: 300;
		padding: 30px;
		font-size: 21px;
		width: 90%;
		border: none;
		border-left: 4px solid $primario-muvini;
		margin: 30px auto;
		p > span {
			cursor: pointer;
			background-color: rgba(251,226,105, 0.2);
			&:hover {
				background-color: rgba(251,226,105, 1);
			}
		}

	}


}

.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: -20px;
	opacity: .3;
	z-index: -1;

}

.box:before,
.box:before {
	content: "";
	width: 100%;
	height: 10px;
	border-radius: 8px 8px 0 0 ;
	position: absolute;
	top: -10px;
	background: rgba(255, 255, 255, .6);
	left: 0;
	transform: scale(.97);
	-webkit-transform: scale(.97);
	-ms-transform: scale(.97);
	z-index: -10;
}

.mapa {
	padding: 50px!important;
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	
}

//  tarjetas mapa de cada artista

.card-mapa {
	width: 200px !important;
	cursor: pointer;
	&:hover {
		@extend .z-depth-5;
	}
	.card-content {
		height: 80px;
		line-height: 80px;
		.card-title{
			@extend .center-align;
			font-size: 1.1em !important;
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			line-height:1.2em;
			color: white !important;

		}
	}
}
//  lista de artistas

tbody {
	color: color('grey' , 'darken-3');
	font-weight: 300;
	padding: 0 10px;
	td {
		width: 25%;
	}
	td.name {
		font-weight: 700;
		min-width: 150px;
	}
	.img-lista {
		width: 50px;
		height: 50px;
		display: block;
		padding: 0;
		margin: 0;
	}

	th {
		border-bottom: none !important;
		h6{
			font-weight: 900;
			color: white;
			font-size: 2em !important;
			margin: auto;
			width: 60px;
			height: 60px;
			line-height:  60px;
			text-align: center;
			background: color('teal' , 'accent-3') !important;
		}
	}

}



