@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
/* Merriweather */
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
/* Alegreya */
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');
/* Fira Sans */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,700,700i');
//  indice

// 1. variables y colores muvini 
// 2. TITULO UD + FOTO AUTOR
// 3. AUTOR FIXED - - - - - EN LATERAL DERECHO
// 4. ANTERIOR Y SIGUIENTE UD
// 5. BOX
// 6. CONOJOS
// 7. lista de artistas

@media #{$small-and-down} {
    // styles for small screens and down
}
@media #{$medium-and-up} {
    // styles for medium screens and larger
}
@media #{$medium-and-down} {
    // styles for medium screens and down
}
@media #{$large-and-up} {
    // styles for large screens and up
}
@media #{$extra-large-and-up} {
    // styles for extra large screens and up
}

//  Variables

$claro-muvini:			#B6E8B3;
$semiclaro-muvini:		#84C79F;

$primario-muvini: 		#3D8A75;

$semioscuro-muvini:		#15524D;
$oscuro-muvini: 		#032429;


.bg-primario-muvini{
	background: $primario-muvini;
}
.text-primario-muvini {
	color: $primario-muvini;
}

.bg-semiclaro-muvini{
	background: $semiclaro-muvini;
}
.text-semiclaro-muvini {
	color: $semiclaro-muvini;
}

.bg-oscuro-muvini{
	background: $oscuro-muvini;
	&:hover,
	&:active,
	&:focus {
		background: #2b1268;
	}
}
.text-oscuro-muvini {
	color: $oscuro-muvini;
}


.bg-claro-muvini{
	background: $claro-muvini;
	&:hover,
	&:active,
	&:focus {
		background: $claro-muvini;
	}

}
.text-claro-muvini {
	color: $claro-muvini;
}

// General

body {
	background: url(../img/bg_muvini.png) repeat top left #484848;
}

a {
	color: $primario-muvini;
	// text-decoration: underline;
}

.col > img {
	width: 100%;;
}
.padding-box {
	padding: 30px;
}

.bg-content {
	background: #181818;
	// background-image: url(../img/bg_muvini.png)top leftrepeat;
	// background: rgba(0,0,0,0.7);
}

//  TITULO UD + FOTO AUTOR

.box-left{
	position: relative;
	padding: 0 10px 0 20px;
	// width: 320px;

	h2{
		text-transform: uppercase;
		color: white;
		font-size: 2.3em;
		font-weight: 700;
		& + h3 {
			text-transform: capitalize;
			font-weight: 400;
			font-size: 1.3em;
			color: $semiclaro-muvini;
			margin-top:-0.5em ;
		}

	}

	h3 {
		padding: 0.5em 0 ;
		border-top: 1px solid $semiclaro-muvini;

	}
	p {
		color: #999;
		font-weight: 400;
		margin-top:-1.2em ;
	}
	.center {
		a {
			margin: 5px;
			background: $semioscuro-muvini;
		}
	}

}

.foto-autor {
	width: 100%;
	max-width: 300px;
	height: 250px;
	margin: 10px auto;
	overflow: hidden;
	position: relative;
	background: $oscuro-muvini;
	border-radius: 5px;
	.obra {
		width: 40%;
		height: 100%;
		overflow: hidden;
		display: inline-block;
		float: left;
		img {
			height: 250px;
				// width: 100%;
			}

		}
		.retrato {
			width: 60%;
			overflow: hidden;
			display: inline-block;
			float: right;
			-webkit-box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.75);
			box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.75);
			img {
				height: 250px;
				// width: 100%;
			}

		}

	}

//  AUTOR FIXED - - - - - EN LATERAL DERECHO

.autor-fixed {
	position: fixed;
	width: 100%;
}


.btn {
	border-radius: 5px;
}


//  BOX

.box {
	position: relative;
	float: right;
	box-sizing: border-box;
	width: 90%;
	padding: 50px 80px  130px 80px!important;
	margin: 30px 5%;
	background: #fff;
	border-radius: 8px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);

	&:before {
		content: "";
		width: 100%;
		height: 8px;
		border-radius: 8px 8px 0 0 ;
		position: absolute;
		top: -8px;
		background: rgba(255, 255, 255, .6);
		left: 0;
		transform: scale(.97);
		-webkit-transform: scale(.97);
		-ms-transform: scale(.97);
	}
	h2 {
		color: $semiclaro-muvini;
		font-weight: 700;
		font-size: 30px;
		padding:  20px 0 15px 0;
		margin-bottom: 30px;
		position: relative;
	}

	ol {
		margin: 0;
		padding-left: 20px;
	}

	ol > li{
		padding: 0 15px;
		cursor: pointer;
		margin-top: 15px;
	}

	p, li, span {
		font-family: 'Merriweather', georgia, Sans-serif;
		font-weight: 300;
		font-size: 18px !important;
		color: $oscuro-muvini !important;
		line-height: 35px;
	}

	a {
		color: $primario-muvini;
		text-decoration: underline;
	}

	strong {
		font-weight: 700;
	}

	blockquote {
		font-family: 'Merriweather', georgia, Sans-serif;
		font-style: italic;
		position: relative;
		color : $primario-muvini;
		background-color: #fafafa;
		font-weight: 300;
		padding: 30px;
		font-size: 18px;
		width: 100%;
		border: none;
		border-left: 4px solid $primario-muvini;
		margin: 30px auto;
		p > span {
			cursor: pointer;
			background-color: rgba(251,226,105, 0.2);
			&:hover {
				background-color: rgba(251,226,105, 1);
			}
		}

	}
	// IMAGENES EN GENERAL

	img {
		width: 100%;
	}
	.gallery-img { // clase para cuando hay solo una imagen
		display: block;
		width: 70%;
		border-radius: 8px;
		@extend .z-depth-2;
		margin: 30px auto;
	}

	.group-img { // clase para cuando hay varias imagenes
		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		width: 100%;
		margin: auto;
		.item {

			padding: 5px;
			height: 140px;
			margin: 5px;
			width: auto;
			box-sizing: content-box;
			border:3px solid #f5f5f5;
			&:hover{
				box-shadow: 
				0 6px 10px 0 rgba(0, 0, 0, 0.14), 
				0 1px 18px 0 rgba(0, 0, 0, 0.12), 
				0 3px 5px -1px rgba(0, 0, 0, 0.3);
			}
		}

	}
	
	// imagen destacada o estudiada dentro de modal --> Box

	.modal-img {
		width: 70%;
		position: relative;
		margin: auto;
		display: block;
		border: 4px solid #fff;
		border-radius: 8px;
		@extend .z-depth-3;

	}


}


// ANTERIOR Y SIGUIENTE UD

.guia {
	position: absolute;
	bottom:0;
	right:0;
	width: 100%;
	@extend .grey, .darken-4;
	border-radius: 0 0 8px 8px;
	padding: 20px;
	display: flex;
	margin-top: 30px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	@extend .z-depth-5;
	a {
		display: inline-block;
	}

}

.guia-fixed {
	position: fixed;
	opacity: 0;
	float: right;	
	border-radius: 0px;
	-webkit-transition: 0.3s ease-in-out all;
	transition: 0.3s ease-in-out all;
	&.active {
		opacity: 1;
	}
}


// BOX PARA LA CARTOGRAFIA // EXCLUSIVO 

.box-mapa {
	position: relative;
	width: 100%;
	h2 {
		color: $semiclaro-muvini;
		font-weight: 700;
		font-size: 30px;
		padding:  20px 0 15px 0;
		margin-bottom: 30px;
		position: relative;
	}
	.mapa {
		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		li {
			display: block;
			height: 230px;
			width: 280px;
			transition: all .5s;
			margin: 5px;
			&:hover {
				@extend .z-depth-3;
				background: $primario-muvini;
				border-radius: 5px;
			}
			a{
				display: block;
				margin: 5px;
				height: 230px;
				width: 280px;
				padding: 10px 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				align-content: center;
				img {
					display: block;
					width: 70%;
				}
				p {
					text-align: center;
					margin-top: 5px;
					color: white;
					font-size: 1.5em;
					// font-family: 'Merriweather', georgia, Sans-serif;
					font-weight: 100;

				}

			}
		}
		

	}

}

// Modal




.btn-modal {
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	a{
		display: block;
		margin: 5px;
		height: 200px;
		width: 200px;
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		text-decoration: none;
		img {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			@extend .z-depth-3;
		}
		span {
			@extend .btn;
			font-family: "Roboto", sans-serif;
			color: white !important;
			font-size: 1em !important;
		}
	}

}


 //  conejo 

 .conejo-content {
 	position: fixed;
 	left: 30px;
 	bottom: 0;
 	z-index: 100;
 	width: 100%;
 	max-width: 200px;
 	height: 350px;
 	/* border: 1px solid red; */
 	// overflow: hidden;
 	.conejo {
 		width: 100%;
 		height: auto;
 	}
 	.pintor {
 		-webkit-transform: scaleX(-1);
 		-moz-transform: scaleX(-1);
 		transform: scaleX(-1);
 		filter: FlipH;
 		-ms-filter: "FlipH";
 	}

 }


 .miniatura {
 	width: 80px;
 	height: 80px;
 	position: absolute;
 	background: $oscuro-muvini;
 	border-radius: 50px;
 	@extend .z-depth-5;
 	bottom: 120px;
 	right: -40px;
 	z-index: -1;
 }


 @media #{$medium-and-up} {
    // styles for medium screens and larger
}
@media #{$medium-and-down} {
	// styles for medium screens and down

	.box-mapa {
		.mapa {
			li {
				height: 200px;
				width: 230px;
				a{
					height: 200px;
					width: 230px;
					
					img {
						display: block;
						width: 80%;
					}
				}
			}
		}		
	}

}



@media #{$small-and-down} {
    // styles for small screens and down
    .box-mapa {
    	.mapa {
    		li {
    			height: auto;
    			width: 90%;
    			a{
    				height: auto;
    				width: 90%;
    				
    				
    				img {
    					width: 70%;
    				}
    			}
    		}
    	}		
    }

}
@media #{$large-and-up} {
    // styles for large screens and up
}
@media #{$extra-large-and-up} {
    // styles for extra large screens and up
}




/* puzzle - rompecabezas  */

#puzzle-containment {
	&::selection { color: #fff; background: #328efd; }
	&::-moz-selection { color: #fff; background: #328efd; }

	figure { padding: 0;}

	.inline-code { padding: 1px 5px; background: #eee; border-radius: 2px; }
	pre { padding: 15px 10px; font-size: .9em; color: #555; background: #edf3f8; }
	pre i { color: #aaa; } /* comments */
	pre b { font-weight: normal; color: #cf4b25; } /* strings */
	pre em { color: #0c59e9; } /* numeric */

	/* Pure CSS */
	.pure-button { margin: 5px 0; text-decoration: none !important; }
	.button-lg { margin: 5px 0; padding: .65em 1.6em; font-size: 105%; }


	/* required snapPuzzle styles */
	.snappuzzle-wrap { position: relative; display: block; }
	.snappuzzle-pile { position: relative; }
	.snappuzzle-piece { cursor: move; }
	.snappuzzle-slot { position: absolute; background: #fff; opacity: .8; }
	.snappuzzle-slot-hover { background: #eee; }
}

.image-puzzle img {
	width: 100%;
}

#imagen img {
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
	cursor: pointer;
	filter: url('#grayscale'); 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); 
	filter: Gray(); 

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#imagen img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
}


#puzzle_solved{
	width: 90%;
	margin: auto;
	.chip{
		transition: 0.5s all;
		&:hover {
			background: $claro-muvini;

		}
	}
	
	.btn{
		margin: 5px;
		background: $primario-muvini;
	}
}


/* fin puzzle - rompecabezas */

