.tabs {
  border-bottom: 3px solid $semiclaro-muvini;


  &.tabs-transparent {
    background-color: transparent;

    .tab a,
    .tab.disabled a,
    .tab.disabled a:hover {
      color: rgba(255,255,255,0.7);
    }

    .tab a:hover,
    .tab a.active {
      color: #fff;
    }

    .indicator {
      background-color: #fff;
    }
  }

  &.tabs-fixed-width {
    display: flex;

    .tab {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

    }
  }

  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: $tabs-bg-color;
  margin: 0 auto;
  white-space: nowrap;

  .tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0 3px;
    text-transform: uppercase;
    &:first-child {
      margin: 0;
    }

    a {
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      color: rgba(#999, .7);
      display: block;
      background-color: #fafafa;
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 100%;
      padding: 0 30px;
      font-size: 16px;
      font-weight: 700;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: color .28s ease;
      &:hover,
      &.active {
        background-color: transparent;
        color: $primario-muvini;
      }
    }

    &.disabled a,
    &.disabled a:hover {
      color: rgba($primario-muvini, .7);
      cursor: default;

    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 100%;
    background-color: $semiclaro-muvini;
    z-index: -1;
    border-radius: 5px 5px 0 0;
    will-change: left, right;
      @extend .z-depth-3;
  }
}

.contentTab {
  // background: #fafafa;
  // padding: 1em 2em;
  // @extend .z-depth-1;
  // border-radius: 0 0 8px 8px;

  h2 {
    // text-align: center;
  }
}

// Fixed sideNav hide on smaller
@media #{$medium-and-down} {
  .tabs {
    display: flex;

    .tab {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

      a {
        padding: 0 12px;
      }
    }
  }
}
